h1 {
  font-size: 3vw;
  letter-spacing: 0.8rem;
  color: whitesmoke;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 13px mediumseagreen, 0 0 5px seagreen;
}

a {
  font-size: 1.8vw;
  color: white;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.3rem;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
}

li {
  list-style: none;
  text-align: center;
  display: inline;
  padding: 16px;
  font-weight: 700;
}

ul {
  background-color: seagreen;
}

h3 {
  font-size: 7vw;
  color: white;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.3rem;
}

h2 {
  font-size: 4vw;
  color: white;
  font-family: "Bebas Neue", cursive;
  background-color: seagreen;
  text-shadow: 1px 1px 3px black;
  letter-spacing: 0.2rem;
}

h4 {
  font-size: 2vw;
  color: seagreen;
  font-family: "Bebas Neue", cursive;
  text-shadow: 1px 1px 3px whitesmoke;
  letter-spacing: 0.2rem;
}

p {
  font-size: 1.4vw;
  color: black;
  font-family: "Bebas Neue", cursive;
}

#splash {
  background-image: url(img/background.JPG);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  width: 100%;

  height: 100vw;

  margin: 0rem;

  background-size: cover;

  background-position: 83% 10%;
}

#splash h3 {
  grid-column: 3/9;
  grid-row: 3/6;
  text-shadow: 1px 1px 2px black, 0 0 25px gray, 0 0 5px darkgray;
}

#splash p {
  color: white;
  font-size: 2vw;
  grid-column: 6/9;
  grid-row: 5/6;
  padding-top: 1rem;
}

#splash aside {
  color: white;
  font-size: 2.5vw;
  grid-column: 3/9;
  letter-spacing: 0.2rem;
  grid-row: 10;
  padding-top: 1rem;
  font-family: "Bebas Neue", cursive;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#photos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  box-sizing: border-box;
}

#photos img {
  border: 0.25rem solid seagreen;
}

video {
  width: 100%;
  border: 0.5rem solid seagreen;
}

footer {
  color: seagreen;
  font-family: "Bebas Neue", cursive;
  font-size: 2vw;
  text-align: center;
  margin: 0.5rem;
}

@media (min-width: 900px) {
  #photos {
    grid-template-columns: 1fr 1fr;
  }
}
